.a12 {  font-size: 12px; font-style: normal; line-height: normal; color: #4B4B4B; text-decoration: none}
.e10 {  font-family: "Arial", "Helvetica", "sans-serif"; font-size: 10px; color: #FFFFFF; text-decoration: none}
.a12-2 {  font-size: 12px; line-height: 24px; color: #4B4B4B; text-decoration: none}
.a12-3 {  font-size: 12px; font-weight: bold; color: #CF0000; text-decoration: underline; line-height: 24px}
.a16 {  font-size: 16px; font-style: normal; line-height: 24px; font-weight: normal; color: #cf0000; text-decoration: none}
.a12-4 {  font-size: 12px; line-height: 24px; color: #CF0000; text-decoration: none}
.e12 {  font-size: 12px; font-style: normal; line-height: normal; color: #4B4B4B4; text-decoration: none; font-family: "Arial", "Helvetica", "sans-serif"}
.e12-2 {  font-family: "Arial", "Helvetica", "sans-serif"; font-size: 12px; font-style: normal; line-height: 22px; color: #4B4B4B; text-decoration: none}
.e12-3 {  font-family: "Arial", "Helvetica", "sans-serif"; font-size: 12px; font-style: normal; line-height: 24px; color: #CF0000; text-decoration: underline; font-weight: bold}
.hong12 {  font-size: 12px; line-height: 24px; color: #ff9900; text-decoration: none}


			#wrapper {
				width: 100%;
				margin: -100px 0 0 0;
				position: absolute;
				left: 0;
				bottom: 5%;
			}
			#wrapper h3 {
				font-size: 20px;
				text-align: center;
			}
			
			#wrapper > div {
				background-color: #eee;
				border-top: 1px solid #ccc;
				border-bottom: 1px solid #ccc;
				width: 100%;
				height: 30px;
				padding: 15px 0;
				overflow: hidden;
			}
			#wrapper > div.first {
				border-bottom: none;
			}
			
			#wrapper dl {
				display: block;
				margin: 0;
			}
			#wrapper dt, #wrapper dd {
				display: block;
				float: left;
				margin: 0 10px;
				padding: 5px 10px;
			}
			#wrapper dt {
				background-color: #f66;
				color: #fff;
			}
			#wrapper dd {
				color: #333;
				margin-right: 50px;
			}

			code {
				font-style: italic;
			}
			
			#donate-spacer {
				height: 100%;
			}
			#donate {
				border-top: 1px solid #999;
				width: 750px;
				padding: 50px 75px;
				margin: 0 auto;
				overflow: hidden;
			}
			#donate p, #donate form {
				margin: 0;
				float: left;
			}
			#donate p {
				width: 650px;
			}
			#donate form {
				width: 100px;
			}
